<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<select id="selectBoardList" resultType="com.gn.board.vo.Board"
	parameterType="com.gn.board.vo.Board">
		SELECT *
		FROM `board`
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<select id="selectBoardCount" resultType ="int">
		SELECT COUNT(*)
		FROM `board`
	</select>
	
	<select id="selectBoardOne" resultType="com.gn.board.vo.Board"
	parameterType="_int">
		SELECT *
		FROM `board`
		WHERE board_no = #{board_no}
	</select>
	
	<update id="updateBoard" parameterType="com.gn.board.vo.Board">
		UPDATE `board`
		SET board_title = #{board_title},
		 	board_content = #{board_content}
		WHERE board_no = #{board_no}
		
	</update>
	
	<delete id="deleteBoard" parameterType="_int">
		DELETE FROM `board` 
		WHERE board_no = #{board_no}
	</delete>
</mapper>